
.cols {
	@apply grid sm:grid-cols-2 md:grid-cols-3 gap-5;
}
.section {
	@apply bg-white rounded-xl shadow-md relative flex flex-col;
	max-height: 500px;
	overflow: auto;
}
.section .title {
	@apply bg-white sticky top-0 p-4 border-b border-gray-300 z-10 flex items-center; 
}
.section .title h4 {
	@apply flex-1;
}
.section > div {
	@apply p-4 flex-1;
}
.section .root_items {
	flex-basis: 100%;
}
.section .root_items > div {
	width: 100%;
	height: 100%;
}
.section .item {
	@apply border border-gray-300 p-2 my-2 rounded-xl flex relative;
}
.section .item span:nth-child(1) {
	flex: 1 1 100%
}
.section .item > div {
	position: absolute;
	right: 10px;
	top: 0px;
	display: flex;
	gap: 0.2rem;
}
.section .item button {
	font-size: 10px;
}
.section .addTask {
	@apply flex gap-4 border-t border-gray-300 sticky bottom-0 z-10;
	@apply bg-white w-full text-gray-600;
	@apply hover:text-black cursor-pointer;
}

.deletion {
	@apply text-center text-red-500 p-2 bg-red-100 rounded-xl mb-4;
	@apply border border-red-500;
	transition: 0.2s all;
	display: none;
}
.deletion.openDeletion {
	display: block;
}